* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	font-family: "Poppin", sans-serif;
    color: white;
    font-size: 20px;
	min-height: 100vh;
}
header {
    opacity: 0;
	display: flex;
	min-height: 36px;
	font-size: 10px;
	padding: 5px 30px 5px 0;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    background: #171a1d;
}
img.badge {
    width: 30px;
    margin: 0 10px;
}
header .social-links {
    display: flex;
    gap: 6px;
}
header .social-links img {
	height: 20px;
	width: auto;
}
header .client {
	flex: 1;
}
header .client .moving-text {
	text-align: center;
	display: inline-block;
}
.main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.v2 img {
    width: 25px;
    height: auto;
}

@media (orientation: landscape) {
    .v2 {
        display: flex;
        flex-direction: column;
    }
}

.toggle > div {
    position: relative;
    padding: 2px;
    width: 43px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .5), 0px 1px 1px 0 rgba(255, 255, 255, 1);
    background: rgb(189, 191, 193);
    background: linear-gradient(to bottom, rgba(189, 191, 193, 1) 0%, rgba(249, 251, 254, 1) 100%);
}

.toggle > div > input[type=checkbox] {
    position: absolute;
    opacity: 0;
    top: -1px;
    left: 5px;
    width: 39px;
    height: 16px;
    z-index: 5;
}

.toggle > div > input[type=checkbox] ~ div {
    width: 39px;
    height: 16px;
    border-radius: 15px;
    border: 1px solid #979797;
    box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, .1), inset -3px 0 0 0 rgba(0, 0, 0, .1), inset -3px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset -1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
    background: linear-gradient(to right, rgba(253, 252, 251, 1) 37%, rgba(229, 229, 229, 1) 61%);
}

.toggle > div > input[type=checkbox]:checked ~ div {
  box-shadow: inset -5px 0 0 0 rgba(0, 0, 0, .1), inset 5px 0 0 0 rgba(0, 0, 0, .1), inset 6px 0 0 0 rgba(255, 255, 255, .5), inset -4px 6px 11px -5px rgba(0, 0, 0, .2), inset 1px 1px 0 0 rgba(255, 255, 255, 1), -6px 4px 11px -7px rgba(0, 0, 0, .5);
  background: rgb(229, 229, 229);
  background: linear-gradient(to right, rgba(229, 229, 229, 1) 39%, rgba(253, 252, 251, 1) 63%);
}

.toggle > div > input[type=checkbox] ~ div:before {
    content: attr(data-unchecked);
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 6px;
    left: 8px;
    font-size: 8px;
}

.toggle > div > input[type=checkbox] ~ div:after {
    content: attr(data-checked);
    color: #007a08;
    text-shadow: 0 0px 0 #fff, 0px 0 7px #007a08;
    filter: dropshadow(color = #df0000, offx = 0, offy = 0);
    display: block;
    position: absolute;
    font-size: 8px;
    top: 6px;
    left: 27px;
}

.toggle > div > input[type=checkbox]:checked ~ div:before {
  color: #119400;
  text-shadow: 0 1px 0 #fff, 0px 0 7px #007a08;
  filter: dropshadow(color=#007a08, offx=0, offy=0);
}

.toggle > div > input[type=checkbox]:checked ~ div:after {
  color: #000;
  text-shadow: none;
  filter: dropshadow(none);
}


.book {
	margin: 0 auto;
	width: 296px;
	aspect-ratio: 1.5;
	position: relative;
	transition-duration: 1s;
	perspective: 1500px;
	transform: rotateX(-5deg);
}
.book.portrait {
    width: 148px;
}
.front-cover, .back-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 5px rgb(41, 41, 41);
	transform-origin: left;
}
.front-cover {
	z-index: var(--reverse-count);
	transition: transform 1.5s;
    animation: turnEffect 2s ease-in-out;
}
.back-cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
	z-index: var(--reverse-count);
}
.page {
	position: absolute;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(-20deg);
}
.inner.page {
	width: 100%;
	height: 100%;
}
.page .blank {
    background: #fff;
}
.page.first-half {
	transition: transform 1.5s;
}
.page.last-half {
	transition: transform 1.5s, z-index 0.5s 0.5s;
}
.page img {
	position: absolute;
	height: 100%;
	width: auto;
}
.front-page img {
	right: 0;
}
.front-page, .back-page {
    background: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
}
.inner.page .front-page {
    border-radius: 0 10px 10px 0;
}
.inner.page .back-page {
    border-radius: 10px 0 0 10px;
}
.back-page {
	transform: rotateY(180deg);
	z-index: 99;
}
.page label {
    font-size: 14px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
	position: absolute;
	bottom: 0;
	opacity: 0.8;
}
.front-page label {
	right: 0;
}
.back-page label {
	left: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions .btn {
    color: #fff;
    opacity: 0.7;
    font-size: 25px;
	cursor: pointer;
}

.actions .btn#playBtn {
    color: yellow;
}

.lock-msg {
    font-size: 12px;
    text-align: center;
    opacity: 0;
    color: #ffe513;
    transition: opacity 1s;
}

#page1 img {
    right: unset;
    left: 0;
}




.book .page {
	z-index: var(--reverse-count);
}
.book.open {
	transform: translateX(148px) rotateZ(-2deg) rotateX(-5deg);
}
.book.open.portrait {
	transform: translateX(74px) rotateZ(-2deg) rotateX(-5deg);
}
.book.open .front-cover {
	transition: transform 1.5s, z-index 0.5s 0.5s;
}
.book.open .page {
	box-shadow: -1px 0px 4px 0px rgba(99, 98, 98, 0.3);
}
.book .page.turn {
	transform: rotateY(-175deg);
	z-index: var(--count);
}
.book .page.first-half.turn {
	transition: transform 1.5s, z-index 0.5s 0.5s;
}
.book .page.last-half.turn {
	transition: transform 1.5s;
}
.book .back-cover.turn {
    transition: transform 1.5s;
}
.book.close {
    transform: translateX(296px);
}
.book.close.portrait {
    transform: translateX(148px);
}

footer {
    display: flex;
    margin-top: 40px;
	width: 100%;
	justify-content: center;
	align-items: center;
}
footer .trust-stamp {
    position: absolute;
    left: 10px;
    opacity: 0;
    width: 50px;
    height: 50px;
    float: left;
}
footer img {
	height: 24px;
}

.welcome {
    display: flex;
    justify-content: center;
}
.welcome img {
    width: 80%;
}

/* styles.css */
.rating-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.rating-popup .popup-content {
    background: linear-gradient(to right bottom, #5a5a5a, #000000);
    padding: 12px;
    border-radius: 5px;
    position: relative;
    width: 300px;
    text-align: center;
}

.rating-popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.rating-popup .heading {
    margin-bottom: 10px;
}

.rating-popup label {
    font-size: 14px;
}

.rating-popup .star-rating .star {
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
}

.rating-popup .star-rating .star.selected {
    color: gold;
}

.rating-popup .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #545454;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}

.rating-popup .btn:hover {
    background-color: #343434;
    color: #ffd700;
}

.popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.popup-content {
    background-color: #090909;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    height: auto;
    border-radius: 1em;
    max-width: 600px;
    position: relative;
}

.popup-content input, .popup-content select {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.popup-content input[type=date] {
	display: none;
}

.popup-content .form-group:last-child {
	display: flex;
	justify-content: space-around;
}

.popup-content input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;	
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.popup-content input[type=submit]:hover {
	background-color: #45a049;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	z-index: 1999;
}

.block .auto-rotate-img {
	width: 100%;
}

.block .gif {
    position: absolute;
    z-index: 2000;
    margin: auto;
}

@keyframes turnEffect {
  0% {transform: rotateY(-20deg);}
  10% {transform: rotateY(-20deg);}
  60% {transform: rotateY(-40deg);}
  100% {transform: rotateY(-20deg);}
}

@media only screen and (min-width: 550px) {
	.block, .welcome {
		display: none;
	}
	header,
	footer .trust-stamp {
	    opacity: 1;
	}
}

@media only screen and (min-width: 1100px) {
    header {
        min-height: 70px;
        font-size: 16px;
    }
    header .social-links {
        gap: 8px;
    }
    header .social-links img {
        height: 30px;
    }
	.block {
		display: none;
	}
    .book {
        width: 500px;
		margin: 100px auto 0 auto;
    }
    .book.open {
		transform: translateX(250px) rotateZ(-2deg) rotateX(-5deg);
    }
	.book.close {
		transform: translateX(500px);
	}
	.book.portrait {
		width: 400px;
	}
	.book.open.portrait {
		transform: translateX(200px) rotateZ(-2deg) rotateX(-5deg);
	}
	.book.close.portrait {
		transform: translateX(400px);
	}
	.page label {
	    font-size: 18px;
	}
}